[defaults]
# Enable direct local testing of this collection without needing to build/reinstall
collections_path = ../../../:~/.ansible/collections:/usr/share/ansible/collections
host_key_checking = False
